@model StrojeviMVC.Models.Kvar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kvar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrojID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrojID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioritet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioritet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrijemePrijave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrijemePrijave)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
